[Desktop Entry]
Version=1.0
Type=Application
Name=Scan Tailor
Comment=Interactive post-processing tool for scanned pages
Exec=scantailor %f
Icon=org.scantailor.ScanTailor
Categories=Graphics;
MimeType=application/x-scantailor-project;
